{
   "ors":{
     "info": {
       "base_url": "https://openrouteservice.org/",
       "support_mail": "support@openrouteservice.org",
       "author_tag": "openrouteservice",
       "content_licence": "LGPL 3.0"
      },
      "services":{
         "matrix":{
            "enabled":true,
            "maximum_locations":200,
            "maximum_visited_nodes":100000,
            "allow_resolve_locations":true,
            "attribution":"openrouteservice.org, OpenStreetMap contributors"
         },
         "isochrones":{
            "enabled":true,
            "maximum_range_distance":[
               {
                  "profiles":"any",
                  "value":50000
               },
               {
                  "profiles":"cycling-regular, foot-walking",
                  "value":100000
               }
            ],
            "maximum_range_time":[
               {
                  "profiles":"any",
                  "value":18000
               },
               {
                  "profiles":"cycling-regular, foot-walking",
                  "value":3600
               }
            ],
            "maximum_intervals":10,
            "maximum_locations":2,
            "allow_compute_area":true,
            "attribution":"openrouteservice.org, OpenStreetMap contributors"
         },
         "routing":{
            "enabled":true,
            "mode":"normal",
            "sources":[
               "data/highways_hd_dd_20190630.osm"
            ],
            "init_threads":1,
            "attribution":"openrouteservice.org, OpenStreetMap contributors",
            "distance_approximation":true,
            "profiles":{
               "active":[
                   "bike",
                   "pedestrian-walk"
               ],
               "default_params": {
                   "encoder_flags_size": 8,
                   "graphs_root_path": "data/graphs",
                   "elevation_provider": "multi",
                       "elevation_cache_path": "data/elevation_cache",
                   "elevation_clear_cache": true,
                   "instructions": true,
                   "maximum_distance": 100000,
                   "maximum_segment_distance_with_dynamic_weights": 100000,
                   "maximum_waypoints": 50
               },
               "profile-bike":{
                  "profiles":"cycling-regular",
                  "parameters":{
                     "encoder_options":"consider_elevation=true|turn_costs=true|block_fords=false",
                     "elevation":true,
                     "preparation":{
                        "min_network_size":200,
                        "min_one_way_network_size":200,
                        "methods":{
                           "ch":{
                              "enabled":true,
                              "threads":8,
                              "weightings":"fastest"
                           },
                           "lm":{
                              "enabled":true,
                              "threads":8,
                              "weightings":"fastest,shortest",
                              "landmarks":24
                           }
                        }
                     },
                     "execution":{
                        "methods":{
                           "astar":{
                              "approximation":"BeelineSimplification",
                              "epsilon":1
                           },
                           "ch":{
                              "disabling_allowed":true
                           },
                           "lm":{
                              "disabling_allowed":true,
                              "active_landmarks":6
                           }
                        }
                     },
                     "ext_storages":{
                        "GreenIndex": {
                           filepath: "data/green_index_hd_dd_new.csv"
                           },
                        "NoiseIndex": {
                           filepath: "data/noise_index_hd_dd.csv"
                        },
                        "ShadowIndex": {
                          filepath: "data/shadow_index_hd_dd_t.csv"
                        },
                        "WayCategory":{

                        },
                        "WaySurfaceType":{

                        },
                        "HillIndex":{

                        },
                        "TrailDifficulty":{

                        }
                     }
                  }
               },
               "profile-pedestrian-walk":{
               "profiles": "foot-walking",
               "parameters": {
                     "encoder_options": "consider_elevation=true|turn_costs=true|block_fords=false",
                     "elevation": true,
                     "preparation": {
                         "min_network_size": 200,
                         "min_one_way_network_size": 200,
                         "methods": {
                             "ch": {
                                 "enabled": true,
                                 "threads": 8,
                                 "weightings": "recommended"
                             },
                             "lm": {
                                 "enabled": true,
                                 "threads": 8,
                                 "weightings": "recommended",
                                 "landmarks": 16
                             },
                             "core": {
                                 "enabled": true,
                                 "threads": 8,
                                 "weightings": "recommended,shortest",
                                 "landmarks": 32
                             }
                         }
                     },
                     "execution": {
                         "methods": {
                             "astar": {
                                 "approximation": "BeelineSimplification",
                                 "epsilon": 1
                             },
                             "ch": {
                                 "disabling_allowed": true
                             },
                             "lm": {
                                 "disabling_allowed": true,
                                 "active_landmarks": 6
                             },
                             "core": {
                                 "disabling_allowed": true,
                                 "active_landmarks": 6
                             }
                         }
                     },
                     "ext_storages":{
                         "GreenIndex": {
                           filepath: "data/green_index_hd_dd_new.csv"
                         },
                         "NoiseIndex": {
                           filepath: "data/noise_index_hd_dd.csv"
                         },
                         "ShadowIndex": {
                           filepath: "data/shadow_index_hd_dd_t.csv"
                         },
                        "WayCategory":{

                        },
                        "WaySurfaceType":{

                        },
                        "HillIndex":{

                        },
                        "TrailDifficulty":{

                        }
                     }
                  }
               }
            }
         }
      },
      "logging": {
          "enabled": true,
          "level_file": "PRODUCTION_LOGGING.json",
          "location": "data/logs/ors",
          "stdout": true
      }
   }
}
